*{
    font-family: "Roboto", sans-serif;
}

.docs-content{
    max-width: 650px;
    width: 100%;

    
    margin-bottom: 500px !important;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #1a1a1a;
}

.active{
    color: white !important; 
}

.docs-content a{
    display: inline;
}

@media (width <= 1000px) {
    .main-page{
        align-items: center;
        flex-direction: column-reverse;
    }

    .docs-content{
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 100% !important;
    }

    .nav-page{
        margin-left: 0 !important;
        width: 100% !important;
    }

    .nav-menu{
        margin-top: 20px;
        margin-left: 0 !important;
        width: 100% !important;
        margin-bottom: 200px;
    }
}

p{
    margin-top: 16px !important; 
}